

@media (min-width: 761px) {
    @font-face {
        font-family: 'KronaOne'; 
        src: url(/KronaOne-Regular.ttf); 
    }

    @font-face {
        font-family: 'Montserrat-rus'; 
        src: url(/Montserrat-Alternates.ttf); 
    }

    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes SizeOne {
        0% {
            margin: calc(var(--index) * 3.5);
            width: calc(var(--index) * 8);
            height: calc(var(--index) * 8);
        }
        50%{
            margin: calc(var(--index) * 3.3);
            width: calc(var(--index) * 9);
            height: calc(var(--index) * 9);
        }
        100% {
            margin: calc(var(--index) * 3.5);
            width: calc(var(--index) * 8);
            height: calc(var(--index) * 8);
        }
    }

    @keyframes RotationOne {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    .main{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: calc(var(--index) * 32);
    }

    .main__container{
        background-position: center center;
        background-size: 100% calc(var(--index) * 32);
        background-repeat: no-repeat;
        background-image: url("/background-vacancy.jpg");
        margin: 20px;
        width: 100%;
        height: calc(var(--index) * 32);
    }

    .main__container-header__layout{
        padding-top: calc(var(--index) * 1.5);
        display: flex;
        justify-content: left;
    }

    .main__container-header__layout-page{
        border: solid 3px black;
        border-radius: calc(var(--index) * 2.5);
    }

    .main__container-header__layout-logo{
        width: calc(var(--index) * 12);
        height: calc(var(--index) * 3);
        padding-left: calc(var(--index) * 2.5);
    }

    .main__container-header__layout img{
        width: calc(var(--index) * 12);
        height: calc(var(--index) * 3);
    }

    .main__container-header__layout nav{
        display: flex;
        align-items: center; 
        width: calc(var(--index) * 26);
        height: calc(var(--index) * 2.5);
        margin-left: calc(var(--index) * 2.5);
        background-color: white;
        border-radius: calc(var(--index) * 2.5);
    }

    .main__container-header__layout nav ul{
        display: flex;
    }

    .main__container-header__layout nav ul li{
        display: inline-block;
        width: calc(var(--index) * 6.5);
    }

    .main__container-header__layout li a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--index) * 2.6);
        border-radius: calc(var(--index) * 2.5);
        transition: 0.8s;
        
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #000000;
        font-size: calc(var(--index) * 0.55);
        cursor: pointer;
    }

    .main__container-header__layout li a:hover{
        transition: 0.8s;
        
        color: rgb(255, 255, 255);
        background-color: #000000;
        border-radius: 50px;
    }
    
    .main__container-header__layout-dropdown{
        display: none;
    }

    .main__container-header__layout-phone{
        position: absolute;
        right: calc(var(--index) * 3.5);
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--index) * 2.6);
        width: 20%;
        margin-left: calc(var(--index) * 6);
    }

    .main__container-header__layout-phone img{
        width: calc(var(--index) * 1);
        height: calc(var(--index) * 1);
    }

    .main__container-header__layout-phone a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: calc(var(--index) * 1);
        transition: 0.8s;
        
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #000000;
        font-size: calc(var(--index) * 0.8);
        border-bottom: solid #000000;
    }

    .main__container-network{
        width: 100%;
        height: calc(var(--index) * 27);
        position: relative;
        padding: calc(var(--index) * 0.5);
    }

    .main__container-network__h1{
        width: 100%;
        height: calc(var(--index) * 30.5);
        padding-top: calc(var(--index) * 13);
        padding-left: calc(var(--index) * 2);
    }

    .main__container-network h1{
        font-size: calc(var(--index) * 5);
        font-weight: 800;
        font-family: 'Montserrat-rus';
        color: white;
    }

    .main__container-network p{
        font-size: calc(var(--index) * 5);
        font-weight: 800;
        font-family: 'Montserrat-rus';
        color: white;
        padding-left: calc(var(--index) * 15);
    }

    .main__container-network__vk{
        position: absolute;
        top: calc(var(--index) * 23.5);
        display: flex;
        align-items: center;
        justify-content: right;
        width: calc(var(--index) * 13.5);
        height: calc(var(--index) * 4);
    }

    .main__container-network__text{
        display: block;
    }

    .main__container-network__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--index) * 4);
        height: calc(var(--index) * 4);
        border-radius: calc(var(--index) * 1);
    }

    .main__container-network__vk img{
        width: calc(var(--index) * 2);
        height: calc(var(--index) * 2);
    }

    .main__container-network img:hover{
        transition: 0.4s;
        width: calc(var(--index) * 2.7);
        height: calc(var(--index) * 2.7);
        padding-left: 10px;
    }
}