

@media (min-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes OpacityArrow {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.3;
        }
    }

    @keyframes RotationOne {
        from {
            /* transition: 0.8s; */
            transform: rotate(0deg);
        }
        to {
            /* transition: 0.8s; */
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    .blocks{
        width: 100%;
        height: 90vh;
        padding: calc(var(--index) * 1.5);
        background-color: white;
    }

    .blocks__section{
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 90vh;
    }

    .blocks__section_map{
        width: calc(var(--index) * 40);
        height: calc(var(--index) * 26);
    }
}