

@media (min-width: 761px) {
    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes OpacityArrow {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.3;
        }
    }

    @keyframes RotationOne {
        from {
            /* transition: 0.8s; */
            transform: rotate(0deg);
        }
        to {
            /* transition: 0.8s; */
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    .blocks{
        width: 100%;
        height: calc(var(--index) * 25);
        padding: calc(var(--index) * 1.5);
        background-color: white;
    }

    .blocks__section{
        display: flex;
        align-items: start;
        justify-content: center;
        height: calc(var(--index) * 23);
        width: 100%;
        /* background-color: brown; */
    }

    .blocks__section-one{
        width: calc(var(--index) * 40);
    }

    .blocks__section-one h2{
        width: calc(var(--index) * 26);
        height: calc(var(--index) * 2);
        border-radius: calc(var(--index) * 2);
        margin: calc(var(--index) * 1);

        font-size: calc(var(--index) * 1.3);
        font-family: 'Montserrat-rus';
        font-weight: 600;
        text-align: center;
        color: white;
        background-color: black;
    }

    .blocks__section-one a{
        font-size: calc(var(--index) * 0.8);
        font-family: 'Montserrat-rus';
        font-weight: 600;
    }

    .blocks__section-one-services{
        display: flex;
        align-items: center;
        height: calc(var(--index) * 2);
        width: calc(var(--index) * 34);
        border-radius: calc(var(--index) * 2);
    }

    .blocks__section-one-services__a{
        width: calc(var(--index) * 30);
        /* background-color: bisque; */
    }

    .blocks__section-one-services__a a{
        text-align: left;
    }

    .blocks__section-one-services a{
        text-align: right;
        width: calc(var(--index) * 4);
        /* background-color: blueviolet; */
    }

    .blocks__section-one-services__li-layout{
        display: flex;
        align-items: center;
        height: calc(var(--index) * 2);
        width: calc(var(--index) * 34);
        /* border: dashed 1px black; */
    }

    .blocks__section-one-services__li-layout-a{
        width: calc(var(--index) * 30);
        padding-left: calc(var(--index) * 2);
        /* background-color: bisque; */
    }

    .blocks__section-one-services__li-layout-a a{
        text-align: left;
    }

    .blocks__section-one-services__li-layout a{
        text-align: right;
        width: calc(var(--index) * 4);
        /* background-color: blueviolet; */
    }

    .blocks__section-two{
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 23);
    }
    

    .blocks__section-two__sail{
        transition: 0.5s;
        position: sticky;
        top: 20px;
        display: grid;
        justify-content: center;

        width: calc(var(--index) * 13);
        height: calc(var(--index) * 20);
        margin: calc(var(--index) * 1);

        border-radius: calc(var(--index) * 2);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("/services-sticky.jpg");
    }

    .blocks__section-two__sail:hover{
        transition: 0.5s;
        box-shadow: 10px 5px 5px rgba(143, 30, 172, 0.733);
    }

    .blocks__section-two__sail ul{
        width: calc(var(--index) * 13);
    }

    .blocks__section-two__sail li{
        display: grid;
        justify-content: center;
        width: calc(var(--index) * 13);
    }

    .blocks__section-two__sail h1{
        font-size:  calc(var(--index) * 1);
        padding: calc(var(--index) * 1);
        color: white;
        font-weight: 600;
        text-align: center;
    }

    .blocks__section-two__sail a{
        font-size:  calc(var(--index) * 0.7);
        padding-top: calc(var(--index) * 1);
        width: calc(var(--index) * 13);
        height: calc(var(--index) * 3);
        text-align: center;
        color: white;
        font-weight: 600;
    }

    .blocks__section-two__sail a:hover{
        background-color: rgba(0, 0, 0, 0.63);
        cursor: pointer;
    }

    .blocks__section-two__sail-background-a{
        background-color: rgba(37, 37, 37, 0.63);
    }
}