

@media (min-width: 761px) {
    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes OpacityArrow {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.3;
        }
    }

    @keyframes RotationOne {
        from {
            /* transition: 0.8s; */
            transform: rotate(0deg);
        }
        to {
            /* transition: 0.8s; */
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    .blocks{
        width: 100%;
        height: 50vh;
        padding: calc(var(--index) * 1.5);
        background-color: white;
    }

    .blocks__section{
        display: flex;
        align-items: start;
        justify-content: center;
        height: 40vh;
        width: 100%;
    }

    .blocks__section-vacancy__one{
        width: calc(var(--index) * 60);
        height: calc(var(--index) * 13);
        border-radius: calc(var(--index) * 1);
        background-position: center;
        background-image: url("/vacancy-two.jpg");
    }

    .blocks__section-vacancy__one h2{
        display: flex;
        justify-content: left;
        align-items: center;
        font-size:  calc(var(--index) * 2);
        padding: calc(var(--index) * 1);
        color: white;
        font-family: 'Montserrat-rus';
        font-weight: 600;
    }

    .blocks__section-vacancy__one p{
        display: flex;
        justify-content: left;
        align-items: center;
        font-size:  calc(var(--index) * 0.6);
        padding: calc(var(--index) * 1);
        color: white;
        font-family: 'Montserrat-rus';
        font-weight: 600;
    }

    .blocks__section-vacancy__one a{
        display: flex;
        justify-content: left;
        align-items: center;
        font-size:  calc(var(--index) * 1);
        padding: calc(var(--index) * 1);
        color: white;
        font-family: 'Montserrat-rus';
        font-weight: 600;
    }
}